/* // 富文本
.rich-text-box {
	padding-top: $edge;
	padding-bottom: $edge;
	margin-left: $edge;
	margin-right: $edge;
	overflow: hidden;
	// img {
	// 	max-width: 100%;
	// }
	* {
		max-width: 100%;
	}
} */

.none {
  display: none;
}
