/* 弹性盒子相关 */
    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .flex_wrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex_column {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .flex_reverse {
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex_con {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }
    .flex_center {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        align-items:center;
        justify-content:center;
    }
    .flex_v_center{
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .flex_h_center{
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .flex_between{
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }    
    .flex_sa {      
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }


/* 箭头动画 */
    .hint {
        position: fixed;
        bottom: 5px;
        left: 50%;
        margin-left: -6px;
        width: 12px;
        height: 14px;
        background-image: url(../img/arrow_up.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: 12px 14px;
        background-size: 12px 14px;
        z-index: 2;
        opacity: 0.1;
        -webkit-animation: arrow_up-anim 1s ease-out infinite;
        animation: arrow_up-anim 1s ease-out infinite;
    }
    .hint.none {
        animation: none;
        display: none;
    }
    .none {
        animation: none;
        display: none;
    }
    @keyframes arrow_up-anim {
        0% {
            opacity: 0.1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0.8;
            transform: translate3d(0, -12px, 0);
        }
    }
    @-webkit-keyframes arrow_up-anim {
        0% {
            opacity: 0.1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0.8;
            transform: translate3d(0, -12px, 0);
        }
    }

/* 每一屏的背景 */
    .ssx-student > .section {
        position: relative;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .ssx-student > .section.base {
        background-image: url(../img/bg01.png);
    }
    .ssx-student > .section.stu {
        background-image: url(../img/bg02.png);
    }
    .ssx-student > .section.cont {
        background-image: url(../img/bg03.png);
    }
    .ssx-student > .section.give {
        background-image: url(../img/bg04.png);
    }
    .ssx-student > .section.arr {
        background-image: url(../img/bg05.png);
    }
    .ssx-student > .section.tall {
        background-image: url(../img/bg06.png);
    }
    .ssx-student > .section.grade {
        background-image: url(../img/bg07.png);
    }
    .ssx-student > .section.apply {
        background-image: url(../img/bg08.png);
    }

/* 通用 */
    /* @font-face {
        font-family: xsxfont;
        src:url('xsxfont.woff'),  
        url('xsxfont.ttf'),
        url('xsxfont.eot'); 
    }

    body, input, select, option {
        font-family: xsxfont;
    } */

    input, select, option {
        background-color:transparent; 
        border-color:transparent;
        -webkit-appearance: none;
        filter: alpha(opacity=0);
        color: #FFF;
    }
    .ssx-student {
        color:  #FFF;
        font-size: 14px;
    }
    .ptlr {
        padding-top: 10%;
        padding-left: 12%;
        padding-right: 12%;        
        text-align: center;
    }
    .p1 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700; 
        padding-bottom: 10px;
    }
    .num {
        display: inline-block;
        margin: 0 8px;
        font-size: 30px;
        color: #ffd302;
    }
    .des {
        margin-top: 20px;
    }
    .grade-des {
        margin-top: 20px;
    }
    .des p,
    .grade-des p {
        font-size: 16px;
        line-height: 22px;
    }


/* 第一页 */
    .portrait {
        width: 54px;
        height: 54px;
        border: 2px solid #FFF;
        border-radius: 56px;        
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .student-name {
        font-size: 20px;
        line-height: 36px;
    }
    .meet {
        padding-top: 5px;
    }
    .meet p {
        font-size: 16px;
        line-height: 22px;
    }
    .meet-date-wrap {
        padding: 5px 0 10px;
    }
    .meet-date {
        display: inline-block;
        line-height: 24px;
        padding: 0 8px;
        background-color: #2A8BDD;
        font-size: 14px;
        border-radius: 26px;
    }
   

/* 第二页 */
    .school-name {
        display: inline-block;
        margin-right: 5px;
        font-weight: 700;
    }


/* 第七页 */
    .system {
        font-size: 12px;
        opacity: 0.6;
    }
    


/* 第八页 */
    .apply {

    }
    .apply-box {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .apply-body {
        width: 7.0741rem;
        height: 11.33333rem;
        background-image: url(../img/bg08-01.png);
        background-repeat: no-repeat;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        background-position: center;
        padding-top: 1.86rem;
        padding-bottom: 0.98rem;
        box-sizing: border-box;
        position: relative;
    }
    .apply-header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1.328867rem;
        line-height: 1.328867rem;
        font-size: 0.6rem;
        text-align: center;
    }
    .apply-item {
        width: 5.36111rem;
        height: 0.814848rem;
        line-height: 0.814848rem;
        padding-left: 2.3rem;
        font-size: 0.4rem;
        background-image: url(../img/bg08-02.png);
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-position: center;
        position: relative;
        box-sizing: border-box;
    }
    .apply-item-title {
        position: absolute;
        left: 0;
        top: 0;
        height: 0.814848rem;
        line-height: 0.814848rem;
        width: 2.3rem;
        text-align: right;
    }
    .apply-item-title.star:after {
        position: absolute;
        left: 0.12rem;
        top: -0.03rem;
        content: "";
        height: 100%;
        width: 0.45rem;
        background-image: url(../img/star.png);
        background-position: center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    .apply-item > input,
    .apply-item > select {
        width: 2.9rem;
        height: 0.7rem;
        font-size: 0.4rem;
    }
    .apply-item-sex {
        display: inline-block;
        height: 100%;
        height: 100%;
    }
    .apply-item-sex-man {
        margin-right: 10px;        
    }
    .apply-item-sex > img {
        width: 0.56rem;
        vertical-align: middle;
        margin-top: -3px;
    }
    .apply-item-sex > img.select{
        display: none;
    }
    .apply-item-sex.active > img.select-no{
        display: none;
    }
    .apply-item-sex.active > img.select{
        display: inline-block;
    }
    .comment {
        color: #DBBA6E;
        font-size: 0.4rem;
    }
    .comment > img {
        width: 0.45rem;
        margin-right: 6px;
        vertical-align: bottom;
    }
    .apply-btn {
        margin-top: 0.8rem;
        width: 6.61111rem;
        height: 1.305556rem;
        line-height: 1.305556rem;
        font-size: 0.6rem;
        background-image: url(../img/bg08-03.png);
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-position: center;
        text-align: center;
    }
    #grade-select option {
        color: #333;
    }


.error {
    position: absolute;
    left: 0.57rem;
    top: 100%;
    margin-top: 5px;
    line-height: 12px;
    font-size: 12px;
    color: #ff7f46;
}


.share-btn {
    width: 110px;
    height: 34px;
    line-height: 34px;
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    background-image: url(../img/share-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: 110px 34px;
    background-size: 110px 34px;
}
.share-dir {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.share-dir img {
    position: absolute;
    right: 10px;
    top: 0;
    width: 83px;
    height: auto;
}