
/* 绝对定位 并 占满全屏 */
.ab_full{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    color: #999;
}

.noData_temp {
	line-height: 50px;
	text-align: center;
	color: #999;
	padding-top: 20px;
	padding-bottom: 20px;
}
.noData_temp img {
	width: 120px;
}
.noData_temp p {
	line-height: 30px;
	font-size: 14px;
	color: #cbd6e3;
}

#net_err_page {
	z-index: 999999999;
}

/* 功能已到期 start */
	#due_page {
		z-index: 999999998;
	}
	.due_page_con {
		text-align: center;
	}
	.due_page_con img {
		width: 200px;
		margin-bottom: 30px;
	}
	.due_info_1,
	.due_info_2 {
		padding: 10px 20px;	
	}
	.due_info_1 {
		color: #666;	
		font-size: 16px;
		text-align: left;
	}
	.due_info_2 {
		color: #999;
		font-size: 14px;
	}

	.due_info_1 i {
		font-style: normal;
		color: #104392;
		font-size: 20px;
	}
/* 功能已到期 end */

/* 功能将到期 start */
	#due_dialog {
	    position: fixed;
	    top: 5px;
	    left: 6px;
	    right: 6px;
	    height: 30px;
	    line-height: 30px;
	    padding-left: 10px;
	    font-size: 14px;            
	    background-color: #FFA6A6;
	    background-color: rgba(0,0,0,0.3);
	    border-radius: 4px;
	    z-index: 89;
	}
	#due_dialog marquee {
	    margin-right: 30px;
	    color: #FFF;
	    color: rgb(255,255,255,.8);
	    white-space: nowrap;
	}
	#due_dialog marquee  i {
	    font-style: normal;
	    color: #ff3022;
	}
	#due_close {
	    position: absolute;
	    width: 30px;
	    top: 0;
	    right: 0;
	    text-align: center;
	}
	#due_close svg {
	    color: #fff;               
	}
/* 功能将到期 end */






/* 字体图标 */
.iconfont_xz {
   width: 1em;
   height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}


.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items:center;
    justify-content:center;
}
.grid{
    display: -webkit-box;
    display: box;
}
.grid_center{
	display: -webkit-box;
    display: box;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
ul li{
	list-style: none;
}