@mixin triangle-left($color:#FFF) {
	&:before, 
	&:after {
		position: absolute;
		top: 20px;
		content: " ";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		transform: translate3d(0, -50%, 0);
	}
	// &:before {
	// 	left: -7px;
	// 	border-right: 8px solid rgba(203,203,203,0.3);
	// 	z-index: -2;
	// }
	&:after {
		left: -6px;
		border-right: 8px solid $color;
		z-index: -1;
	}
}

@mixin triangle-right($color:#1E88F5) {
	&:before, 
	&:after {
		position: absolute;
		top: 20px;
		content: " ";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		transform: translate3d(0, -50%, 0);
	}
	/* &:before {
		right: -7px;
		border-left: 8px solid rgba(203,203,203,0.3);
		z-index: -2;
	} */
	&:after {
		right: -6px;
		border-left: 8px solid $color;
		z-index: -1;
	}
}