/* 弹性盒子相关 */
    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .flex_wrap {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex_column {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .flex_reverse {
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex_con {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }
    .flex_center {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        align-items:center;
        justify-content:center;
    }
    .flex_v_center{
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .flex_h_center{
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .flex_between{
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }    
    .flex_sa {      
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }





/* 箭头动画 */
    .hint {
        position: fixed;
        bottom: 5px;
        left: 50%;
        margin-left: -6px;
        width: 12px;
        height: 14px;
        background-image: url(../img/arrow_up.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: 12px 14px;
        background-size: 12px 14px;
        z-index: 2;
        opacity: 0.1;
        -webkit-animation: arrow_up-anim 1s ease-out infinite;
        animation: arrow_up-anim 1s ease-out infinite;
    }
    .hint.none {
        animation: none;
        display: none;
    }
    @keyframes arrow_up-anim {
        0% {
            opacity: 0.1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0.8;
            transform: translate3d(0, -12px, 0);
        }
    }
    @-webkit-keyframes arrow_up-anim {
        0% {
            opacity: 0.1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0.8;
            transform: translate3d(0, -12px, 0);
        }
    }

/* 每一屏的背景 */
    .ssx-teacher > .section {
        position: relative;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .ssx-teacher > .section:nth-child(1){
        background-image: url(../img/bg01.png);
    }
    .ssx-teacher > .section:nth-child(2){
        background-image: url(../img/bg02.png);
    }
    .ssx-teacher > .section:nth-child(3){
        background-image: url(../img/bg03.png);
    }
    .ssx-teacher > .section:nth-child(4){
        background-image: url(../img/bg04.png);
    }
    .ssx-teacher > .section:nth-child(5){
        background-image: url(../img/bg06.png);
    }
    .ssx-teacher > .section:nth-child(6){
        background-image: url(../img/bg05.png);
    }
    .ssx-teacher > .section:nth-child(7){
        background-image: url(../img/bg07.png);
    }
    .ssx-teacher > .section:nth-child(8){
        background-image: url(../img/bg08.png);
    }

/* 通用 */
    .none {
        display: none;
    }
    .ssx-teacher {
        color:  #FFF;
        font-size: 14px;
    }
    .ptlr {
        padding-top: 10%;
        padding-left: 12%;
        padding-right: 12%;
    }
    .p1 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700; 
        padding-bottom: 10px;
    }
    .p2 {
        font-size: 14px;
        line-height: 26px;
    }
    .p3 {
        font-size: 18px;
        line-height: 22px;
    }
    .p4 {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
    }
    .sp1 {
        color: #ffd86a;
        font-weight: 700;
    }
    .sp2 {
        font-size: 18px;
        color: #ffd86a;
    }
    .wrap1 {
        height: 40px;
    }
    .num {
        display: inline-block;
        font-size: 50px; 
        height: 38px;
        line-height: 40px;       
        vertical-align: bottom;
    }
    .sy1 {
        display: inline-block;
        padding: 0 5px;
        font-size: 20px;
        line-height: 24px;
        background-color: #FFF;
        color: #1e70d4;
        bottom: 0;
        left: 100%;
        vertical-align: bottom;
    }
    .des {
        margin-top: 20px;
    }
    .des p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }
    .work-start {
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: rgba(255,255,255,.8);
    }
    .work-start-date {
        font-style: 16px;
    }


/* 第一页 */
    .phome-down {
        position: absolute;
        bottom: 40px;
        width: 100%;
        line-height: 1.6em;
        text-align: center;
        font-size: 16px;
    }
    .phome-up {
        display: flex;
        padding-top: 10%;
    }
    .phome-up-content {
        position: relative;
        padding-left: 45px;
    }
    .phome-title {
        position: absolute;
        left: 0;
        top: -8px;
        width: 45px;
        font-size: 40px;
    }

    .phome-main-left {
        padding-top: 25px;
        margin: 0 10px 0 5px;    
    }
    .phome-main-left .portrait {
        width: 54px;
        height: 54px;
        border: 2px solid #FFF;
        border-radius: 56px;        
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    .phome-main-right {
        padding-top: 25px;
        padding-bottom: 35px;
        padding-right: 14px;
        padding-left: 5px;
        border-top: 3px solid #FFF;
        border-right: 3px solid #FFF;
    }
    .phome-main-right .name {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .phome-main-right .date {
        display: inline-block;
        padding: 0 6px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        color: #1e70d4;
        background-color: #FFF;
    }
    .phome-main-right .meet {
        position: absolute;
        bottom: 0;
        right: 14px;
        margin-top: 5px;
        font-size: 16px;
    }
    .phome-main-right .meet .where {
        font-size: 24px;
        font-weight: 700;
        padding: 0 4px; 
    }



/* 第二页 */
    .school-name {
        display: inline-block;
        margin-right: 5px;
        font-weight: 700;
    }


/* 第七页 */
    .prate {
        position: absolute;
        top: 10%;
        bottom: 8%;
        left: 10%;
        right: 10%;
    }    
    .cloud-bg {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 0;
        padding-top: 40%;
        background-image: url(../img/cloud.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .rate {
        height: 80px;
    }
    .fly-wrap {
        position: relative;
    }
    .fly-wrap .fly {
        position: absolute;
        bottom: -12%;
        width: 16px;
        height: 1%;
        background-color: rgba(255,255,255,1);
        transform: translate3d(-50%,0,0);
    }
    .fly-wrap .fly.anim {
        transition: all 1s ease-in;        
    }
    .fly-wrap .fly:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 42px;
        height: 103px;
        transform: translate3d(-50%,-75%,0);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: 42px 103px;
        background-size: 42px 103px;
    }
    .fly1 {
        left: 20%;
    }
    .fly2 {
        left: 50%;
    }
    .fly3 {
        /* left: 80%; */
        left: 50%;
    }
    .fly1:before {
        background-image: url(../img/fly1.png);
    }
    .fly2:before {
        background-image: url(../img/fly2.png);
    }
    .fly3:before {
        background-image: url(../img/fly3.png);
    }
    .rate-wrap {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 15px;
        text-align: center;
    }
    .rate-val {
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
    }


/* 第八页 */

    .star-wrap.ptlr {
        text-align: center;
        padding-top: 13%;
    }
    .star-wrap .p2 {
        line-height: 22px;
    }
    .start-bg img {
        width: 180px;
    }
    .star-desc {
        margin-top: 8px;
    }
    .review-c {
        font-size: 1.2em;
        /* line-height: 48px; */
        font-weight: 700;
        color: #ffd86a;
    }
    .star-ranking div {
        display: inline-block;
        line-height: 26px;
        padding: 0 12px;
        margin-top: 10px;
        background-color: #207DE0;
        font-size: 14px;
        border-radius: 26px;
    }
    .support {
        position: absolute;
        width: 100%;
        bottom: 15px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
    }
    .support sup {
        font-size: 16px;
    }

    .share-div {
        text-align: center;
        position: absolute;
        bottom: 50px;
        width: 100%;
    }
    .share-btn {
        display: inline-block;
        margin-top: 6px;
        padding: 0 12px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 16px;
        border-radius: 24px;
        border: 1px solid #FFF;
    }
    .share-dir {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .share-dir img {
        position: absolute;
        right: 10px;
        top: 0;
        width: 83px;
        height: auto;
    }



